{% extends "frontend/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/vendor/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
{% endblock %}

{% block body_container %}
    <h1>Dentist Booking Form</h1>
    <form id="booking-form" action="/appointment/save" method="POST">
        <div id="message" class="alert alert-info">Complete form</div>
        <div class="form-group row">
            <label for="procedure" class="col-sm-4 col-form-label">Chose a procedure</label>
            <div class="col-sm-8">
                <select data-value-path="procedure.id"
                        class="form-control procedure-select"
                        title="Chose a procedure">
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="medic" class="col-sm-4 col-form-label">Chose a medic</label>
            <div class="col-sm-8">
                <select data-value-path="medic.id"
                        class="form-control medic-select"
                        title="Chose a medic">
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="availability" class="col-sm-4 col-form-label">Pick a date</label>
            <div class="col-sm-8">
                <input data-value-path="date"
                       class="form-control availability-input"
                       title="Availability"/>
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Full Name</label>
            <div class="col-sm-8">
                <input data-value-path="fullName"
                       class="form-control"
                       placeholder="Full Name">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Phone Number</label>
            <div class="col-sm-8">
                <input data-value-path="phoneNumber"
                       class="form-control"
                       placeholder="Phone Number">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input data-value-path="email"
                       type="email"
                       class="form-control"
                       placeholder="Email">
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Comment</label>
            <div class="col-sm-8">
                <input data-value-path="comment"
                       class="form-control"
                       placeholder="Comment">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Book Now</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="/vendor/require/require.js"
            data-main="/js/frontend/app"></script>
{% endblock %}